<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sli2slo -->
      <package
            uri="http://eu.lowcomote/keptn/sli2slo"
            class="eu.lowcomote.keptn.sli2slo.Sli2sloPackage"
            genModel="model/sli2slo.genmodel"/>
   </extension>

</plugin>
