<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sliOpt -->
      <package
            uri="http://jku.bise.at/sli"
            class="eu.lowcomote.keptn.sli.SliPackage"
            genModel="model/sliOpt.genmodel"/>
   </extension>

</plugin>
